.SF_MainDiv {
    /* border: 1px solid red; */
    margin: auto;
    width: auto;
    width: 40%;
    height: 100%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.SF_MainDivText {
    font-size: 30px;
    font-weight: 700;
}

.SF_H3 {
    text-align: left;
    margin-left: 3%;
}

.Input_SField {
    padding: 2%;
}

.InnerInputField {
    margin: 1% 2%;
    border-radius: 6px;
    padding: 5px;
    height: 23px;
}

.SF_Para {
    border: 1px solid rgb(23, 164, 219);
    margin: auto;
    width: auto;
    border-radius: 7px;
    background-color: rgb(193, 229, 243);
    width: 70%;
    padding: 8px 3px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.SF_InputFieldPass {
    width: 70%;
}

.PassBtntextSF {
    padding: 10px 1%;
    border-radius: 20px;
    background-color: #4658E6;
    color: white;
    font-size: 15px;
    border: none;
    width: 20%;
}

.PassBtnSF {
    /* border: 1px solid green; */
    margin: auto;
    width: auto;
    width: 100%;
    text-align: left;
    margin: 1% 4%;
}

.InnerDivForm_SF {
    margin: 3% 3%;
    text-align: left;
}

@media screen and (min-width: 300px) and (max-width:800px) {

    .Input_SField {
        padding: 2%;
        width: 100%;
    }

    .InnerInputField {
        margin: 1% 2%;
        border-radius: 6px;
        padding: 5px;
        height: 23px;
        width: 30%;
    }

    .SF_InputFieldPass {
        width: 100%;
    }

    .SF_MainDiv {
        width: 80%;
    }

    .PassBtntextSF {
        width: 80%;
        margin-top: 5%;
    }
}